*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sky{
    width: 100%;
    height: 100vh;
    background-image: url("/PROJECT3/CarAminated/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
}
.trees{
    width: 100%;
    height:100%;
    background-image: url("/PROJECT3/CarAminated/trees.png");
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    bottom: 40%;
}

.road{
    width:800vh;
    height:100%;
    background-image: url("/PROJECT3/CarAminated/track.png");
    
    position:absolute;
    top:60%;
    animation: road 5s linear infinite;

}
.car{
    height: 100px;
    width: 380px;
    background-image: url(/PROJECT3/CarAminated/car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 400px;
    bottom:38vh;
    animation: shake linear .3s infinite;
}
.carwheelleft img {
    width: 18%;
    position: absolute;
    left: 63%;
    bottom: -2vh;
    animation: rotate linear .6s infinite;
}
.carwheelright img {
    width: 20%;
    position: absolute;
    left: 11.5%;
    bottom: -2vh;
    animation: rotate linear .6s infinite;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes road{
    100%{
        transform: translatex(-500vh);
    }
}
